#rulesbox {
    position:fixed;
    border-width: 5px;
    border-radius: 10%;
    border-color: rgb(211, 182, 19);
    border-style: solid;
    width: 30vw;
    height: 40vh;
    background-color: green;
    top: 30vh;
    right: 35vw;
    left: 35vw;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(9, 172, 9);
    display: flex;
    justify-content: center;
}
.continue {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    min-width: 100px;
    width: 5vw;
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
    border-width: 5px;
    border-radius: 10%;
    border-color: rgb(0, 187, 0);
    border-style: solid;
    cursor: pointer;
    background-color: rgb(217, 255, 0);
    color: rgb(31, 102, 31);
}
.continue:hover {
    background-color: hsl(69, 77%, 49%);
    border-color: rgb(2, 172, 2);
    color: rgb(28, 128, 15);
    transition-duration:100ms;
}
.rules {
    font-size: 15px;
    width: 20vw;
    color: rgb(207, 207, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-height: 20vh;
    overflow: auto;
}
#header {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 13);
    text-shadow:0px 0px 4px rgb(180, 170, 22);
    text-align: center;
}
.slidecontainer {
    position: absolute;
    top: 40%;
    right: 2vw;
    width: 10vw;
    text-align: center;
    color: rgb(207, 207, 13);
    text-shadow:0px 0px 2px black;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 10vw;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-style: solid;
    border-width: 3px;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #27700a;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb:hover {
    width: 27px;
    height: 27px;
    margin-top:1px ;
    background: #2f880c;
  }
.block {
    position: fixed;
    height: 100vh;
    width: 100vw;
}
#numbers {
    text-align: center;
    font-size:25vh;
    text-shadow:0px 0px 1vh rgb(255, 238, 0);
    color: rgb(207, 207, 13);
}
img {
    height: 40vh;
    cursor: pointer;
}
img:hover {
    height: 41vh;
    transition-duration: 100ms;
}
#start {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    min-width: 100px;
    width: 10vw;
    position: absolute;
    bottom:8vh;
    border-width: 5px;
    border-radius: 10%;
    border-color: rgb(0, 187, 0);
    border-style: solid;
    cursor: pointer;
    background-color: rgb(217, 255, 0);
    color: rgb(31, 102, 31);
}
#start:hover {
    background-color: hsl(69, 77%, 49%);
    border-color: rgb(2, 172, 2);
    color: rgb(28, 128, 15);
    transition-duration:100ms;
}
#gameend {
    position:fixed;
    border-width: 5px;
    border-radius: 10%;
    border-color: rgb(211, 182, 19);
    border-style: solid;
    width: 30vw;
    height: 40vh;
    background-color: green;
    top: 30vh;
    right: 35vw;
    left: 35vw;
    display: none;
    justify-content: center;
}
#img {
    position: absolute;
    top: 35vh;
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#gamebox {
    padding: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 13);
    text-shadow:0px 0px 4px rgb(180, 170, 22);

}
#results {
    margin-top: 4vh;
    font-size: 2.5vh;
}
#gameend {
    font-size: 7vh;
}
#scoreshow {
    position: absolute;
    top: 5vh;
    right: 2vw;
    text-align: center;
    font-size:5vh;
    text-shadow:0px 0px 1vh rgb(255, 238, 0);
    color: rgb(207, 207, 13);
}
#mistakes {
    display: block;
    width: 15vw;
    justify-content: center;
    position: absolute;
    top: 13vh;
    left: 10vw;
}
.x {
    width: 10vw;
    text-align: center;
    padding: 2vw;
    font-size: 15vh;
    text-shadow:0px 0px 1vh rgb(255, 47, 47);
    color: rgb(211, 44, 44);
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
